<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons> 
    <ion-title>Reorder</ion-title>
      
    <ion-buttons slot="end">
      <ion-button (click)="toggle()">
          Toggle
          <!-- <ion-icon slot="icon-only" name="reorder"></ion-icon> -->
      </ion-button>
    </ion-buttons>
      
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group [disabled]="reorder" (ionItemReorder)="itemReorder($event)">
      <ion-item *ngFor="let user of users"> 
        <ion-label>{{ user.name }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
    </ion-list>

</ion-content>
