<app-header-bar title="Cards"></app-header-bar>
<ion-content>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Con su respectivo subtitulo</ion-card-subtitle>
      <ion-card-title>Esto es un titulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et optio expedita necessitatibus autem deleniti fugit aut, eos odit quam corrupti numquam, totam quod voluptatem magnam doloremque incidunt, tempora quos culpa!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin" color="danger"></ion-icon>
      <ion-label>icon icon left, icon button right</ion-label>
      <ion-button slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ut molestias repudiandae eum delectus asperiores soluta tenetur vitae explicabo omnis. Placeat architecto beatae pariatur quam accusamus illo omnis recusandae vitae.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, enim! Dolor possimus eaque exercitationem officiis impedit ut necessitatibus blanditiis quos maxime, reiciendis libero perspiciatis soluta, quas tenetur? Reiciendis, distinctio adipisci.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item href="#" class="activated" detail mode="ios">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card link item 1 activated</ion-label>
    </ion-item>

    <ion-item href="#" detail>
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card link item 1</ion-label>
    </ion-item>

    <ion-item href="#" detail>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card link item 2</ion-label>
    </ion-item>

    <ion-item href="#" detail>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card link item 3</ion-label>
    </ion-item>

  </ion-card>

</ion-content>
